<section id="introduccion" class="my-10 w-full xl:w-1/2  mx-auto">
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Introducción.</h2>
  <p class="mt-2 mb-2">
    Este proyecto es una aplicación web con la última version de Angular y sus nuevas funcionalidades como señales, la cual tiene información sobre
    cócteles que son recogidos de una API, incluye un buscador de cócteles y
    botones para mostrar los cócteles dependiendo de sus ingredientes,
    alcoholes… Además tiene la opción de poder descargar la aplicación en tu
    móvil u ordenador.
  </p>
</section>