<section id="ingredient" class="my-10 xl:my-20 w-full xl:w-1/2  mx-auto">
  <img src="/assets/cocktail/ingredientCocktail.png" class="hidden md:block h-[500px] w-full md rounded-sm" alt="registro">
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Página busqueda por ingrediente.</h2>
  <p class="mt-2 mb-2">
    Permite la búsqueda de cócteles dependiendo del
ingrediente que queremos que contenga, como hay gran variedad he agregado un menú desplegable con múltiples opciones.
  </p>
</section>
