<main id="login" class="my-10 w-full xl:w-1/2  mx-auto">
  <img src="/assets/rrhh/login.png" class="hidden md:block w-full h-96 rounded-sm" alt="registro">
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 md:mb-5">Inicio de sesión:</h2>
  <p class="mt-2 mb-2">
    En esta sección podrás iniciar sesión en el sistema, para poder acceder a las funcionalidades dependiendo de si eres usuario o administrador, te mandará a un panel u otro:
  </p>

  <ul class="list-disc ms-5 mb-5">
    <li>
      <p class="font-semibold">Tienes que tener el usuario y la contraseña correctos para poder entrar.</p>
    </li>
    <li>
      <p class="font-semibold">Si tienes algún error te notificará en pantalla, dependiendo de si no existe el usuario o la contraseña es incorrecta.</p>
    </li>
    <li>
      <p class="font-semibold">El inicio de sesión va por JWT por lo que se le manda al usuario un token exclusivo para entrar para él y para esa sesión en concreto.</p>
    </li>
  </ul>
</main>
