<section id="crudCategorias"  class="w-full xl:w-1/2 my-10 md:my-20 mx-auto">
  <app-carrousel [images]="['/assets/todo/crearCategoria.png', '/assets/todo/listadoCategorias.png', '/assets/todo/actualizarCategoria.png', '/assets/todo/categoriaModificada.png', '/assets/todo/categoriaEliminada.png']"></app-carrousel>
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Crud de categorías.</h2>
  <p>
    En esta sección de la aplicación, se implementan las funciones básicas de un <b>CRUD (Crear, Leer, Actualizar, Eliminar)</b>, esenciales para la gestión de datos.
  </p>
  <h3 class="text-2xl font-semibold font-pt-serif mt-5 mb-2">Funcionalidades del CRUD:</h3>
  <ul class="list-disc ms-5">
    <li>
      <p><b>Crear (Create):</b> Permite a los usuarios añadir nuevos registros mediante formularios intuitivos.</p>
    </li>
    <li>
      <p><b>Leer (Read):</b> Los usuarios pueden visualizar registros existentes, con opciones de filtrado y búsqueda.</p>
    </li>
    <li>
      <p><b>Actualizar (Update):</b> Facilita la modificación de registros para mantener la información actualizada.</p>
    </li>
    <li>
      <p><b>Eliminar (Delete):</b> Permite la eliminación de registros con confirmaciones para evitar errores.</p>
    </li>
  </ul>
  <h3 class="text-2xl font-semibold font-pt-serif mt-5 mb-2">Sistema de Alertas:</h3>
  <p>Se ha implementado un sistema de alertas que notifica a los usuarios sobre el estado de sus operaciones, proporcionando retroalimentación inmediata tras cada acción (crear, actualizar o eliminar).</p>
  <h3 class="text-2xl font-semibold font-pt-serif mt-5 mb-2">Relación con Usuario:</h3>
  <p>Cada categoría está asociada a un usuario específico, lo que garantiza que los registros se gestionen de manera individual y segura, mejorando la privacidad de los datos.</p>
</section>
