<section id="services" class="my-10 w-full xl:w-1/2  mx-auto">
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Servicios.</h2>
  <ol class="list-decimal pl-4">
    <li class="my-2"><b>Servicio de API:</b> se encarga de tener reunidas en un servicio todas las
      peticiones que voy a realizar en la web.
    </li>
    <li class="my-2"><b>Servicio de Alertas:</b> se encarga de mostrar y esconder la alertas de la
      aplicación</li>
    <li class="my-2"><b>Servicio de paginación:</b> se encarga de mostrar el listado de cócteles
      de 10 en 10 y cuando llegues al final que muestre los 10 siguientes.</li>
    <li class="my-2"><b>Servicio de Id:</b> se encarga de recoger el id a la hora de hacer click en
      uno de los cócteles del listado para redirigir a otra página con más
      detalles de la aplicación.</li>
  </ol>
</section>
