<section id="funcionalidades"  class="w-full my-10 xl:w-1/2 mx-auto">
  <app-carrousel [images]="[
    '/assets/rrhh/usuario_sin_info.png', 
    '/assets/rrhh/usuario_inicio.png',
    '/assets/rrhh/usuario_fin.png', 
    ]"></app-carrousel>
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Empleado.</h2>
  <p>
    Dentro de la parte de los empleados obtenemos:
  </p>
  <ol class="list-decimal ms-5">
    <li>
      <p class="font-semibold">
        Permite ver la información personal del usuario así como pedir una modificación de la misma.
      </p>
    </li>
    <li>
      <p class="font-semibold">
        Si el usuario entra en su cuenta y no tiene la información personal para poder empezar a trabajar le saldrá el problema y podrá notificarlo
      </p>
    </li>
    <li>
      <p class="font-semibold">
        Una vez todo completado podrá darle a entrada al trabajo y salida del trabajo, una vez finalizado se contará las horas que ha trabajado ese día.
      </p>
    </li>
     <li>
      <p class="font-semibold">
        Si te equivocas puede reestablecer el horario.
      </p>
    </li>
  </ol>
</section>