<section id="funcionalidades"  class="w-full my-10 xl:w-1/2 mx-auto">
  <app-carrousel [images]="[
    '/assets/rrhh/registro_usuario1.png', 
    '/assets/rrhh/registro_usuario2.png', 
    '/assets/rrhh/registro_usuario3.png'
    ]"></app-carrousel>
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Crear empleado.</h2>
  <p>
    Para que el empleado se cree correctamente tenemos que realizar estos 3 pasos, podemos saltar de un paso a otro sin necesidad de rellenar los datos:
  </p>
  <ol class="list-decimal ms-5">
    <li>
      <p class="font-semibold">
        Crear el empleado con su nombre, email y contraseña, este paso es totalmente obligatorio.
      </p>
    </li>
    <li>
      <p class="font-semibold">
        Crear la información personal del empleado como DNI, calle... es una opción opcional por lo que puedes crearlo o no.
      </p>
    </li>
    <li>
      <p class="font-semibold">
        La última es parte es una confirmación de que todo está correcto mostrando todo lo que hemos creado y si queremos modificar o eliminar alguna de las dos partes.
      </p>
    </li>
  </ol>
</section>
