<section id="name" class="my-10 w-full xl:w-1/2  mx-auto">
  <img src="/assets/cocktail/nameCocktail.png" class="hidden md:block h-[500px] w-full md rounded-sm" alt="registro">
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Página busqueda por nombre.</h2>
  <p class="mt-2 mb-2">
    Permite la búsqueda con retroalimentación real
    (cuando dejas de escribir te muestra el listado) de cócteles por nombre además, si borras lo que has escrito de la barra los cócteles desaparecen.
  </p>
</section>
