<section id="funcionalidades"  class="w-full my-10 md:my-20 xl:w-1/2 mx-auto">
  <app-carrousel [images]="[
    '/assets/jsonapp/subirArchivo.png', 
    '/assets/jsonapp/mostrarInterfaz.png', 
    '/assets/jsonapp/eliminarJson.png', 
    '/assets/jsonapp/jsonInvalido.png', ]"></app-carrousel>
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Funcionalidades.</h2>
  <p>
    Ofrece una serie de funcionalidades clave que mejoran la experiencia del usuario y optimizan el flujo de trabajo en tu proyecto.
  </p>
  <h3 class="text-2xl font-semibold font-pt-serif mt-5 mb-2">Creación de contenido a teclado:</h3>
  <p>Ofrece a los usuarios la posibilidad de <b>crear la interfaz directamente desde el teclado</b>. Esta funcionalidad permite una entrada rápida y eficiente de datos, lo que es especialmente útil para aquellos que prefieren escribir o editar contenido manualmente.</p>

  <h3 class="text-2xl font-semibold font-pt-serif mt-5 mb-2">Formateo de Contenido en JSON:</h3>
  <p>Facilita <b>la estructuración del contenido en un formato JSON</b>, lo que es esencial para su integración en aplicaciones web. Esta característica no solo organiza la información de manera clara, sino que también garantiza que sea fácilmente accesible y manipulable por el sistema.</p>
  
  <h3 class="text-2xl font-semibold font-pt-serif mt-5 mb-2">Subida de archivos:</h3>
  <p>Permite a los usuarios <b>cargar archivos desde su dispositivo</b>, facilitando la incorporación de contenido preexistente. Esta característica es ideal para aquellos que desean integrar documentos, imágenes u otros tipos de archivos en su proyecto sin necesidad de reescribir la información.</p>
  
  <h3 class="text-2xl font-semibold font-pt-serif mt-5 mb-2">Personalización de la interfaz principal:</h3>
  <p>Ofrece la opción de <b>renombrar la interfaz principal, permitiendo a los usuarios personalizar su experiencia</b>. Esta funcionalidad es crucial para adaptar la interfaz a las necesidades específicas del proyecto y mejorar la identificación del usuario con la herramienta.</p>

  <h3 class="text-2xl font-semibold font-pt-serif mt-5 mb-2">Copiado de la Interfaz Generada:</h3>
  <p>Permite a los usuarios <b> copiar la interfaz generada de forma sencilla, facilitando su integración en otros proyectos</b>. Esta funcionalidad ahorra tiempo y esfuerzo, ya que los usuarios pueden trasladar rápidamente el código necesario sin complicaciones.</p>

  <h3 class="text-2xl font-semibold font-pt-serif mt-5 mb-2">Descarga de la Interfaz Generada:</h3>
  <p> Proporciona la opción de <b>descargar la interfaz en el formato .ts</b> . Esta característica asegura que los usuarios puedan añadir la interfaz a su proyecto de manera efectiva, garantizando que todos los elementos estén disponibles para su uso inmediato.</p>

  <h3 class="text-2xl font-semibold font-pt-serif mt-5 mb-2">Eliminación de Contenido Existente:</h3>
  <p>Permite a los usuarios limpiar su espacio de trabajo de manera eficiente, <b>eliminando cualquier contenido previamente subido o escrito que ya no sea necesario.</b> Esta funcionalidad asegura que el entorno esté siempre actualizado y libre de elementos obsoletos.</p>
</section>
