<section id="funcionalidades"  class="w-full my-10 xl:w-1/2 mx-auto">
  <app-carrousel [images]="[
    '/assets/rrhh/sidebar_admin.png', 
    '/assets/rrhh/menu_admin.png',
    '/assets/rrhh/administrador.png']"></app-carrousel>
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Panel del administrador.</h2>
  <p>
    En el navegador del administrador incluye las distintas páginas a las que puede entrar para ver información sobre los empleados.
  </p>
  <h3 class="text-2xl font-semibold font-pt-serif mt-5 mb-2">Página de administrador</h3>
  <p>Página donde se encuentra tu información como usuario además tienes estas opciones:</p>

  <ol class="list-disc ms-5">
    <li>
      <p class="font-semibold">
        Modificar o eliminar la cuenta que tienes registrada, da igual que acción hagas se te redirigirá al inicio de sesión.
      </p>
    </li>
    <li>
      <p class="font-semibold">
        Crear tu información personal así como modificarla o eliminarla.
      </p>
    </li>
    <li>
      <p class="font-semibold">
        Sistema de alertas que te avisa cuando creas o modificas tu información personal.
      </p>
    </li>
  </ol>
</section>
