<section id="funcionalidades"  class="w-full md:my-20 xl:w-1/2 mx-auto">
  <app-carrousel [images]="[
    '/assets/rrhh/creacion_usuario_alerta.png', 
    '/assets/rrhh/listado_usuarios.png', 
    ]"></app-carrousel>
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Listado de empleados.</h2>
  <p>
    Puedes ver toda la información personal de los empleados además tiene funcionalidades como:
  </p>
  <ol class="list-decimal ms-5">
    <li>
      <p class="font-semibold">
        Permite ver de forma simplificada la información de cada usuario y si queremos desglosar la información personal del mismo.
      </p>
    </li>
    <li>
      <p class="font-semibold">
        Podemos desde aquí modificar o eliminar tanto la información del usuario como la personal.
      </p>
    </li>
    <li>
      <p class="font-semibold">
        El estado info se verá más adelante pero sirve para avisar al administrador que un usuario necesita su información personal para poder fichar su horario de trabajo por lo que el usuario lo envia y aquí le pondrá un "Urgente".
      </p>
    </li>
  </ol>
</section>
