<main id="login" class="my-10  xl:my-20 w-full xl:w-1/2  mx-auto">
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif md:mb-5">Sistema de login.</h2>
  <img src="/assets/todo/register.png" class="hidden md:block h-96 rounded-sm" alt="registro">
  <h3 class="text-2xl font-semibold font-pt-serif mt-5">Registrarse:</h3>
  <p class="mt-2 mb-2">
    En esta sección podrás registrarte en el sistema, para poder acceder a las funcionalidades del mismo debes rellenar todos los campos ya que si no nos saldrá un error de que falta x campo.
    Una vez que tienes todos los campos y le das a registrarte puedes encontrarte dos opciones:
  </p>

  <ul class="list-disc ms-5 mb-5">
    <li>
      <p class="font-semibold">Tienes todos los campos correctos y te saldrá una alerta de usuario registrado.</p>
    </li>
    <li>
      <p class="font-semibold">El correo electronico coincide con alguno ya existente por lo que te saldrá una alerta de error.</p>
    </li>
  </ul>

  <img src="/assets/todo/login.png" class="hidden md:block h-96 rounded-sm" alt="registro">
  <h3 class="text-2xl font-semibold font-pt-serif mt-5">Iniciar sesión:</h3>
  <p class="mt-2">En esta sección podrás iniciar sesión en el sistema, para poder acceder debes introducir un correo electrónico y una contraseña correctas.
    Una vez que tienes todos los campos y le das a iniciar sesión puedes encontrarte tres opciones:
  </p>
  <ul class="list-disc ms-5">
    <li>
      <p class="font-semibold">Te has equivocado de contraseña y te saldrá una alerta sobre ello.</p>
    </li>
    <li>
      <p class="font-semibold">El correo electrónico no está registrado por lo que no puedes iniciar sesión.</p>
    </li>
    <li>
      <p class="font-semibold">Las credenciales son correctas y entras a la aplicación.</p>
    </li>
  </ul>
</main>
