<section class="bg-black px-5 py-10 md:px-10 md:py-24 xl:px-36  text-white sectionSize">
  <div data-aos="fade-out" data-aos-duration="2000" data-aos-anchor-placement="center-bottom" class="">
    <div>
      <h2 class="secondaryTitle text-center bg-underline2 bg-bottom bg-10%">Un poco sobre mí.</h2>
    </div>
    <div class="flex flex-col md:flex-row">
      <div class="flex-1 mx-8 flex flex-col items-center pt-4 my-4 group border-t-4 border-transparent hover:border-white transition-all hover:shadow-lg duration-300 delay-75">
        <div class="rounded-full bg-secondary  text-black h-12 w-12 flex justify-center items-center mb-3">
          <svg class="w-6 h-6  md:w-8 md:h-8 text-black " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M3 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H3Zm4.293 5.707a1 1 0 0 1 1.414-1.414l3 3a1 1 0 0 1 0 1.414l-3 3a1 1 0 0 1-1.414-1.414L9.586 12 7.293 9.707ZM13 14a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2h-3Z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <h3 class="font-montserrat font-medium text-xl mb-2 ">Aprendizaje autodidacta.</h3>
        <p class="text-center font-montserrat">
          Me gusta aprender por mi cuenta disfrutando del aprendizaje independiente y la resolución de desafíos sin depender de la guía directa de otros.
        </p>
      </div>
      <div class="flex-1 mx-8 flex flex-col items-center pt-4 my-4 group border-t-4 border-transparent hover:border-white transition-all hover:shadow-lg duration-300 delay-75">
        <div class="rounded-full bg-secondary text-black h-12 w-12 flex justify-center items-center mb-3">
          <svg class="w-6 h-6  md:w-8 md:h-8 text-black " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-3 5h3m-6 0h.01M12 16h3m-6 0h.01M10 3v4h4V3h-4Z"></path>
          </svg>
        </div>
        <h3 class="font-montserrat font-medium text-xl mb-2">Organización</h3>
        <p class="text-center font-montserrat">
          Destaco por mi organización antes de empezar a realizar cualquier tarea para tener claro cuales son los objetivos y que quiero conseguir con ello.
        </p>
      </div>
      <div class="flex-1 mx-8 flex flex-col items-center pt-4 my-4 group border-t-4 border-transparent hover:border-white transition-all hover:shadow-lg duration-300 delay-75">
        <div class="rounded-full bg-secondary text-black h-12 w-12 flex justify-center items-center mb-3">
          <svg class="w-6 h-6 md:w-8 md:h-8 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M18.458 3.11A1 1 0 0 1 19 4v16a1 1 0 0 1-1.581.814L12 16.944V7.056l5.419-3.87a1 1 0 0 1 1.039-.076ZM22 12c0 1.48-.804 2.773-2 3.465v-6.93c1.196.692 2 1.984 2 3.465ZM10 8H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6V8Zm0 9H5v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3Z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <h3 class="font-montserrat font-medium text-xl mb-2">Buena comunicación</h3>
        <p class="text-center font-montserrat">
          Habilidad para establecer relaciones interpersonales sólidas y adaptarme a diversos entornos laborales, garantizando una comunicación efectiva en cualquier situación.
        </p>
      </div>
    </div>
  </div>
</section>