<section id="random" class="my-10 xl:my-20 w-full xl:w-1/2  mx-auto">
  <app-carrousel [images]="[
    '/assets/cocktail/random1Cocktail.png', 
    '/assets/cocktail/random2Cocktail.png', 
    ]"></app-carrousel>
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Página coctel aleatorio.</h2>
  <p class="mt-2 mb-2">
    Si le damos al botón obtendremos un cóctel aleatorio
y nos mostrará los detalles del mismo, tenemos la opción de cambiar a otro
random y de eliminar el cóctel
  </p>
</section>
