<section id="glass" class="my-10 w-full xl:w-1/2  mx-auto">
  <img src="/assets/cocktail/glassCocktail.png" class="hidden md:block h-[500px] w-full md rounded-sm" alt="registro">
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Página busqueda por tipo vaso.</h2>
  <p class="mt-2 mb-2">
    Permite la búsqueda de cócteles dependiendo del
    tipo de vaso que se usa para beber, como hay gran variedad he agregado un
    menú desplegable con múltiples opciones.
  </p>
</section>

