<main id="login" class="my-10 xl:my-20 w-full xl:w-1/2  mx-auto">
  <img src="/assets/jsonapp/section1.png" class="hidden md:block h-96 w-full rounded-sm" alt="registro">
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Página principal.</h2>
  <p class="mt-2 mb-2">
    Esta página está diseñada para guiar al usuario en su primera experiencia con la web, proporcionando una introducción clara y concisa a las diversas funcionalidades que ofrece. A través de esta sección, los usuarios podrán familiarizarse rápidamente con las herramientas y características disponibles, asegurando una navegación fluida y efectiva.
  </p>
</main>