<section id="alcohol" class="my-10 xl:my-20 w-full xl:w-1/2  mx-auto">
  <img src="/assets/cocktail/alcoholCocktail.png" class="hidden md:block h-[500px] w-full md rounded-sm" alt="registro">
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Página busqueda por alcohol.</h2>
  <p class="mt-2 mb-2">
    Permite la búsqueda de cócteles dependiendo de las
categorías que nos da la API además, cuando se muestran los cócteles podemos hacer click en cualquiera para que nos lleve a otra página con más información sobre el mismo.
  </p>
</section>
