<main class="px-5 pt-10 md:px-10 md:pt-24 xl:px-36 font-pt-serif bg-secondary">
    <div data-aos="fade-right" data-aos-duration="2000" data-aos-anchor-placement="top-center" class="flex flex-col justify-center text-center md:text-left xl:flex-row md:justify-between md:items-center">
      <div class="xl:flex-1 xl:mr-10">
        <h2 class=" text-2xl font-extrabold">&lt;Desarrollador web frontend/&gt;</h2>
        <img src="/assets/Underline1.svg" alt="" class="w-52 mx-auto md:w-full">
        <h1 class=" text-5xl font-bold mb-5">
          Hola mi nombre es Pedro, <span class="text-4xl"> me dedico a realizar web interactivas.</span>
        </h1>
        <p class="font-normal text-lg mb-7">
          Soy un amante de la tecnología front-end, siempre en busca de nuevas aventuras y retos. Me encanta explorar las últimas tendencias y herramientas para crear experiencias web que cautiven y sorprendan. Siempre estoy en modo aprendizaje, ¡así que esperen verme probando cosas nuevas todo el tiempo!
        </p>
        <div class="font-montserrat flex flex-col md:flex-row gap-5">
          <button (click)="scrollTo('habilidades')" class="relative rounded-sm px-6 py-4 overflow-hidden group bg-black text-white transition-all ease-out duration-300">
            <span
              class="absolute right-0 w-10 h-full top-0 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 -skew-x-12 group-hover:-translate-x-36 ease"
            ></span>
            <span class="relative">Habilidades</span>
          </button>
  
          <a href="https://www.linkedin.com/in/pedro-luis-o%C3%B1ate-egea-741ab7220/" target="_blank" class="relative rounded-sm px-6 py-4 overflow-hidden group border border-black text-black transition-all ease-out duration-300">
            <span
              class="absolute right-0 w-10 h-full top-0 transition-all duration-1000 transform translate-x-12 bg-black opacity-10 -skew-x-12 group-hover:-translate-x-36 ease"
            ></span>
            <span class="relative ">Linkedin</span>
          </a>
  
          <a href='/assets/pedro_luis_curriculum.pdf' download="PedroLuisCurrilum" class="relative rounded-sm px-6 py-4 overflow-hidden group bg-black text-white transition-all ease-out duration-300">
            <span
              class="absolute right-0 w-10 h-full top-0 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 -skew-x-12 group-hover:-translate-x-36 ease"
            ></span>
            <span class="relative ">Ver CV</span>
          </a>
        </div>
      </div>
      <div class="flex justify-around mt-8 xl:flex xl:flex-1">
        <div>
          <img src='/assets/Highlight1.svg' alt="" class="" />
        </div>
        <div class="flex me-10 md:me-0 items-center">
          <img src='/assets/img_yo.webp' alt="yo" class="drop-shadow-2xl h-fit block self-center"/>
        </div>
      </div>
    </div>
</main>