<section id="drink" class="my-10 w-full xl:w-1/2  mx-auto">
  <img src="/assets/cocktail/drinkCocktail.png" class="hidden md:block h-[500px] w-full md rounded-sm" alt="registro">
  <h2 class="text-3xl md:text-4xl font-semibold font-pt-serif mt-5 mb-2">Página de la bebida.</h2>
  <p class="mt-2 mb-2">
    Nos permite entrar a una bebida de la que
elijamos en las páginas: ingredientes, tipo de vaso, nombre y alcohol para
ver más detalles de la misma. Se le pasa la id a la página mediante un
servicio en vez de pasarla por parámetro para mayor seguridad ya que no tiene un uidd.
  </p>
</section>
